
<h1>Register</h1>
{{> partials/nav }}
<form action="/auth/register" method="POST">
    <input type="text" name="email" placeholder="Email" value="{{email}}">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="rePassword" placeholder="Repeat Password">
    <button type="submit">Register</button>
</form>